<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="DBSTRING" value="Server=127.0.0.1; Database=CS; User ID=sa; Password=vision21!"/>
  </appSettings>
  <applicationSettings>
    <WebTest.Properties.Settings>
      <setting name="WebTest_SOAP_soaptest" serializeAs="String">
        <value>http://localhost/soap_test/soaptest.asmx</value>
      </setting>
    </WebTest.Properties.Settings>
  </applicationSettings>
</configuration>
