<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoapClient_Con.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SoapClient_Con.Properties.Settings>
            <setting name="SoapClient_Con_Soap_soaptest" serializeAs="String">
                <value>http://localhost/soap_test/soaptest.asmx</value>
            </setting>
        </SoapClient_Con.Properties.Settings>
    </applicationSettings>
</configuration>